:root {
	/* --- цвета --- */
	--color-black: #222121;
	--color-blue: #13379a;
	--color-crey: #4c4c4c;
	--light-blue: #3155b8;
	--color-white: #fff;
	--color-white-warm: #faf7f7;
	--color-light-grey: #f1f1f1;
	--color-error: #d03664;
	--color-grey-medium: #989797;
	--color-link: #6d92f8;
	--color-meta-info: #696868;
	--color-text: #393838;

	/* --- семейства шрифтов --- */
	--font-family: "Inter", sans-serif;
	--second-family: "Roboto Flex", sans-serif;
	--third-family: "Roboto Slab", sans-serif;
}
