
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&display=swap');

:root {
	/* --- цвета --- */
	--color-black: #222121;
	--color-blue: #13379a;
	--color-crey: #4c4c4c;
	--light-blue: #3155b8;
	--color-white: #fff;
	--color-white-warm: #faf7f7;
	--color-light-grey: #f1f1f1;
	--color-error: #d03664;
	--color-grey-medium: #989797;
	--color-link: #6d92f8;
	--color-meta-info: #696868;
	--color-text: #393838;

	/* --- семейства шрифтов --- */
	--font-family: "Inter";
	// --second-family: "Roboto Flex", sans-serif;
	// --third-family: "Roboto Slab", sans-serif;
	--second-family:  "Roboto Flex", sans-serif;
	--third-family:  "Inter", sans-serif;
}
